Repository MichaelKaaden/redux-client-ngrx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width 80 --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Update @angular/flex-layout
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@13, @angular/cdk@13
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @ngrx/store@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Update packages
  package.json
  yarn.lock
Due: prettier --write

Fix lint warning
  src/app/app-routing.module.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

Fix deprecations
  src/app/components/counter-container/counter-container.component.spec.ts
  src/app/components/counter-container/counter-container.component.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/error/error.component.spec.ts
  src/app/effects/counter.effects.spec.ts
  src/app/selectors/counters.selectors.spec.ts
  src/app/selectors/counters.selectors.ts
  src/app/services/counter.service.spec.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Switch to ESLint
  .eslintrc.json
  .lintstagedrc
  angular.json
  package.json
  src/app/effects/counter.effects.spec.ts
  tslint.json
  yarn.lock
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Bump version for release 2.0.9
  package.json
Due: prettier --write

[chore] Bump version
  package.json
Due: prettier --write

Angular CLI update for packages - @angular/cli@latest, @angular/core@latest
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@latest, @angular/cdk@latest
  package.json
  yarn.lock
Due: prettier --write

[eslint] Fix warning "Lifecycle methods should not be empty"
  src/app/components/counter-list/counter-list.component.ts
  src/app/components/page-not-found/page-not-found.component.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Bump version for release 2.0.10
  package.json
Due: prettier --write

[chore] Update .lintstagedrc for v12
  .lintstagedrc
Due: none

[chore] Update Husky to v7
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

[chore] Bump version for release 2.0.11
  package.json
Due: prettier --write

Angular CLI update for packages - @angular-eslint/schematics@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Add eslint-plugin-ngrx
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

Fix warnings reported by eslint-plugin-ngrx
  src/app/app.module.ts
  src/app/components/counter-container/counter-container.component.spec.ts
  src/app/components/counter-container/counter-container.component.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/error/error.component.spec.ts
  src/app/components/error/error.component.ts
  src/app/effects/counter.effects.spec.ts
  src/app/effects/counter.effects.ts
  src/app/reducers/counter.reducer.ts
  src/app/reducers/error.reducer.ts
  src/app/selectors/counters.selectors.spec.ts
  src/app/selectors/counters.selectors.ts
  src/app/selectors/errors.selector.spec.ts
  src/app/selectors/errors.selectors.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

Angular CLI update for packages - eslint-plugin-ngrx@latest
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - replace-default-collection-option
  angular.json
Due: prettier --write

@angular/cli migration - remove-default-project-option
  angular.json
Due: prettier --write

@angular/cli migration - update-angular-packages-version-prefix
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - update-tsconfig-target
  tsconfig.json
Due: prettier --write

[chore] Switch analytics off
  angular.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{html,json,scss,js,css}) or (any of: *.ts)
  prettier --print-width 80 --write: any of: *.md
  tslint -c tslint.json --fix -t stylish --project tsconfig.json: any of: *.ts
