Repository MichaelKaaden/redux-client-ngrx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width 80 --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

.lintstagedrc:

{
  "*.{html,json,scss,js,css}": [
    "prettier --write",
    "git add"
  ],
  "*.md": [
    "prettier --print-width 80 --write",
    "git add"
  ],
  "*.ts": [
    "prettier --write",
    "tslint -c tslint.json --fix -t stylish --project tsconfig.json",
    "git add"
  ]
}

[chore] Upgrade to Angular 7.1.3 and add the Karma Firefox launcher
  package.json
  src/karma.conf.js
  yarn.lock
Due: prettier --write

[chore] Describe why @ngrx/entity doesn't work for me
  README.md
Due: prettier --print-width 80 --write

[chore] Bump version
  package.json
Due: prettier --write

[chore] Fix typo
  README.md
Due: prettier --print-width 80 --write

[chore] Upgrade to Angular 7.1.4
  package.json
  yarn.lock
Due: prettier --write

Add a margin to the app component
  src/app/components/app/app.component.css
  src/app/components/app/app.component.html
Due: prettier --write

Make the Counter an object instead of a class
  src/app/actions/counter.actions.ts
  src/app/components/counter-container/counter-container.component.spec.ts
  src/app/components/counter-container/counter-container.component.ts
  src/app/components/counter-heading/counter-heading.component.spec.ts
  src/app/components/counter-heading/counter-heading.component.ts
  src/app/components/counter-input/counter-input.component.spec.ts
  src/app/components/counter-input/counter-input.component.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/effects/counter.effects.spec.ts
  src/app/effects/counter.effects.ts
  src/app/models/counter.ts
  src/app/reducers/counter.reducer.spec.ts
  src/app/reducers/counter.reducer.ts
  src/app/selectors/counters.selectors.spec.ts
  src/app/selectors/counters.selectors.ts
  src/app/services/counter.service.spec.ts
  src/app/services/counter.service.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

Fix the tests for @ngrx/entity
  src/app/effects/counter.effects.ts
  src/app/reducers/counter.reducer.spec.ts
  src/app/reducers/counter.reducer.ts
  src/app/selectors/counters.selectors.spec.ts
  src/app/selectors/counters.selectors.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Describe what I think of @ngrx/entity
  README.md
Due: prettier --print-width 80 --write

[chore] Upgrade packages
  package.json
  yarn.lock
Due: prettier --write

Upgrade @angular/cli
  package.json
  src/browserslist
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write

[chore] Upgrade @angular/core
  package.json
  yarn.lock
Due: prettier --write

[chore] Upgrade @ngrx/store
  package.json
  yarn.lock
Due: prettier --write

[chore] Upgrade @angular/flex-layout
  package.json
  yarn.lock
Due: prettier --write

[chore] Upgrade @angular/material
  package.json
  src/app/material.module.ts
  yarn.lock
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Upgrade to Angular 8.0.3
  browserslist
  package.json
  src/app/app.module.ts
  src/app/effects/counter.effects.spec.ts
  src/app/material.module.ts
  src/app/reducers/counter.reducer.ts
  src/app/reducers/index.ts
  tsconfig.json
  tslint.json
  yarn.lock
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Upgrade to Angular 8.1.0
  package.json
  yarn.lock
Due: prettier --write

Upgrade the code base to NgRx v8
  src/app/actions/counter.actions.ts
  src/app/actions/error.actions.ts
  src/app/components/counter-container/counter-container.component.spec.ts
  src/app/components/counter-container/counter-container.component.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/error/error.component.spec.ts
  src/app/components/error/error.component.ts
  src/app/effects/counter.effects.spec.ts
  src/app/effects/counter.effects.ts
  src/app/reducers/counter.reducer.spec.ts
  src/app/reducers/counter.reducer.ts
  src/app/reducers/error.reducer.spec.ts
  src/app/reducers/error.reducer.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

Inline the reducer helper functions
  src/app/reducers/counter.reducer.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Update Angular
  angular.json
  package.json
  src/tsconfig.app.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @ngrx/store@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Update Angular Material
  package.json
  src/main.ts
  yarn.lock
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Add @angular/localize
  package.json
  src/polyfills.ts
  yarn.lock
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Update the README.md to Angular 9
  README.md
Due: prettier --print-width 80 --write

Fix tests for the errors selector
  src/app/selectors/errors.selector.spec.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

Angular CLI update for packages - @angular/cli@latest
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/core@latest
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Update packages
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/cli@latest, @angular/core@latest, @ngrx/store@latest, @angular/material@latest
  package.json
  yarn.lock
Due: prettier --write
