Repository MichaelKaaden/redux-client-ngrx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width 80 --write, yarn eslint --fix

[chore] Bump version for release 2.0.12
  package.json
Due: prettier --write

[chore] Bump version
  package.json
Due: prettier --write

Add state-adapt dep
  package.json
  yarn.lock
Due: prettier --write

Replace NgRx with StateAdapt
  src/app/actions/counter.actions.ts
  src/app/actions/error.actions.ts
  src/app/app.module.ts
  src/app/components/counter-container/counter-container.component.ts
  src/app/components/dashboard/dashboard.component.ts
  src/app/components/error/error.component.ts
  src/app/counter.adapter.ts
  src/app/counter.store.ts
  src/app/effects/counter.effects.ts
  src/app/models/counter.ts
  src/app/reducers/counter.reducer.spec.ts
  src/app/reducers/counter.reducer.ts
  src/app/reducers/error.reducer.spec.ts
  src/app/reducers/error.reducer.ts
  src/app/reducers/index.ts
  src/app/selectors/counters.selectors.ts
  src/app/selectors/errors.selectors.ts
Due: prettier --write, yarn eslint --fix

Remove NgRx dep, commit hooks
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --write

Restore ngrx/entity
  package.json
  yarn.lock
Due: prettier --write

Remove git hooks
  .husky/post-commit
  .husky/pre-commit
  .husky/pre-push
Due: none

Add back ngrx/store for ngrx/entity
  package.json
  yarn.lock
Due: prettier --write

Remove console log
  src/app/counter.store.ts
Due: prettier --write, yarn eslint --fix

Upgrade to StateAdapt 0.45
  package.json
  yarn.lock
Due: prettier --write

Fix error component
  src/app/components/error/error.component.html
Due: prettier --write

Improve code with SA 0.45
  src/app/app.module.ts
  src/app/counter.adapter.ts
  src/app/counter.store.ts
Due: prettier --write, yarn eslint --fix

Angular CLI update for packages - @angular-eslint/schematics@latest
  package.json
  yarn.lock
Due: prettier --write

@angular-eslint/schematics migration - update-14-0-0
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/cli@latest, @angular/core@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Update @angular/flex-layout
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@latest, @angular/cdk@latest
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @ngrx/store@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Replace '@ngrx/eslint-plugin' with '@ngrx/eslint-plugin'
  .eslintrc.json
  package.json
  yarn.lock
Due: prettier --write

[chore] Update packages
  package.json
  yarn.lock
Due: prettier --write

Fix the unit tests
  src/app/components/app/app.component.spec.ts
Due: prettier --write, yarn eslint --fix

[chore] Bump version for release 2.0.13
  package.json
Due: prettier --write

[chore] Update to @angular/core@14.2.12 @angular/cli@14.2.10
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular-eslint/schematics@14.4.0
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@14.2.7, @angular/cdk@14.2.7
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/core@15, @angular/cli@15, @angular-eslint/schematics@latest
  package.json
  yarn.lock
Due: prettier --write

@angular-eslint/schematics migration - update-15-0-0
  angular.json
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - update-karma-main-file
  src/test.ts
Due: prettier --write, yarn eslint --fix

@angular/cli migration - update-typescript-target
  tsconfig.json
Due: prettier --write

[chore] Update @angular/flex-layout to 14.0.0-beta.41
  package.json
  yarn.lock
Due: prettier --write

@angular/material migration - migration-v15
  src/app/material.module.ts
Due: prettier --write, yarn eslint --fix

Path conditions:
  prettier --write: (any of: *.{html,json,scss,js,css}) or (any of: *.ts)
  prettier --print-width 80 --write: any of: *.md
  yarn eslint --fix: any of: *.ts
