Repository MichaelKaaden/redux-client-ngrx: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width 80 --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Bump version
  package.json
Due: prettier --write

Angular CLI update for packages - @angular/cli@latest
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - rename-browserslist-config
  .browserslistrc
Due: none

@angular/cli migration - tslint-version-6
  package.json
  tslint.json
Due: prettier --write

@angular/cli migration - update-workspace-dependencies
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - update-module-and-target-compiler-options
  tsconfig.json
Due: prettier --write

Angular CLI update for packages - @ngrx/store@latest
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - rxjs@latest
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Update packages
  package.json
  yarn.lock
Due: prettier --write

Add the router state, too
  package.json
  src/app/app.module.ts
  src/app/reducers/index.ts
  yarn.lock
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Bump version for release
  package.json
Due: prettier --write

Angular CLI update for packages - @angular/cli@latest, @angular/core@latest, @ngrx/store@latest, rxjs@latest
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - update-angular-config-v11
  angular.json
Due: prettier --write

@angular/cli migration - update-workspace-dependencies-v11
  package.json
  yarn.lock
Due: prettier --write

@angular/core migration - migration-v11-router-relative-link-resolution-default
  src/app/app-routing.module.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

@angular/core migration - migration-v11-wait-for-async
  src/app/components/app/app.component.spec.ts
  src/app/components/counter-container/counter-container.component.spec.ts
  src/app/components/counter-heading/counter-heading.component.spec.ts
  src/app/components/counter-input/counter-input.component.spec.ts
  src/app/components/counter-list/counter-list.component.spec.ts
  src/app/components/dashboard/dashboard.component.spec.ts
  src/app/components/error/error.component.spec.ts
  src/app/components/page-not-found/page-not-found.component.spec.ts
  src/app/components/progress/progress.component.spec.ts
  src/app/services/counter.service.spec.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

[chore] Update @angular/flex-layout
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@latest, @angular/cdk@latest
  package.json
  yarn.lock
Due: prettier --write

[chore] Replace karma-coverage-istanbul-reporter with karma-coverage
  package.json
  src/karma.conf.js
  yarn.lock
Due: prettier --write

[chore] Update remaining packages
  package.json
  yarn.lock
Due: prettier --write

[chore] Add the list of the other implementations
  README.md
Due: prettier --print-width 80 --write

[chore] Update @angular/flex-layout preparing for Angular 12
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/cli@latest, @angular/core@latest, @ngrx/store@latest, @angular/material@latest, @angular/cdk@latest
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - update-angular-config-v12
  angular.json
Due: prettier --write

@angular/cli migration - update-zonejs
  src/environments/environment.ts
  src/polyfills.ts
  src/test.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

@angular/cli migration - remove-emit-decorator-metadata
  tsconfig.json
Due: prettier --write

Angular CLI update for packages - @angular/cli@12, @angular/core@12
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @ngrx/store@12
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/material@12, @angular/cdk@12
  package.json
  yarn.lock
Due: prettier --write

Angular CLI update for packages - @angular/core@13, @angular/cli@13
  package.json
  yarn.lock
Due: prettier --write

@angular/cli migration - drop-ie-polyfills
  src/polyfills.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

@angular/cli migration - update-angular-config-v13
  angular.json
Due: prettier --write

@angular/cli migration - update-gitignore
  .gitignore
Due: none

@angular/core migration - migration-v13-testbed-teardown
  src/test.ts
Due: prettier --write, tslint -c tslint.json --fix -t stylish --project tsconfig.json

Path conditions:
  prettier --write: (any of: *.{html,json,scss,js,css}) or (any of: *.ts)
  prettier --print-width 80 --write: any of: *.md
  tslint -c tslint.json --fix -t stylish --project tsconfig.json: any of: *.ts
